body {
    font-size: 12px
}

div#table_filter {
    width: 99%;
}

div#table_filter input {
    width: 90vw;
}

div#table_length {
    font-size: 0.7em;
}

div#table_info {
    font-size: 0.7em;
}

div#table_paginate {
    width: 95vw;
    font-size: 0.8em;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
    body {
        font-size: 10px
    }

    div#table_filter {
        width: 99%;
    }

    div#table_filter input {
        width: 90vw;
    }

    div#table_paginate {
        width: 100vw;
    }
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
}
